# Ignore everything
/*

# Folders
!/codeformat
!/gradle
!/src
!/.github

# Files
!/.gitignore
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/codeformat/FABRIC-HEADER
!/LICENSE
!/README.md
!/settings.gradle